* {
  margin: 0;
  padding: 0;
}

.block {
  background: red;
  height: 50vh;
  width: 300px;
  border: 7px dotted palevioletred;
  border-top-style: solid;
  border-bottom: 0;
  border-style: double;

  border-radius: 15px 50% 25px;
  opacity: 0.9;
  margin: 20px 50px 100px;
  padding: 20px 50px;

  display: block;




}
