p.text:not(emptyset) {
  color: green;
}

p.text:not(emptyset)::after {
  content: attr(title);

  color: green;
}

#some_id::after {
  content: '123';
  color: red;
  text-decoration: line-through;
}

p:first-of-type {
  text-decoration: line-through;
}
p:last-of-type {
  text-decoration: line-through;
}


p.main_link:first-letter {
  color: rosybrown;
}

.main_link {
  color: red;
  text-decoration: none;
}

.main_link:hover {
  color: blue;
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.main_link:active {
  text-decoration: line-through;
}

.main_link:visited {
  text-decoration: line-through;
  color: grey;
}

input:required {

}

input {
  color: blue
}

input:focus {
  color: red;
}

